@{ 
    Layout = null;
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/Chat/CompactStartPageStyles.css">
</head>
<body class="lc2 http" style="margin: 0px; padding: 0px;">

    <div id="content-container" style="display:block">	
        <div id="content">
        	<a id="full-view-button" href="javascript:void(null)" onclick="parent.open_chat_window()">
                <span id="open-icon" class="icon-maximize">
                </span><span id="open-label">Оставьте сообщение</span>
            </a>	
        </div>
    </div>

</body>
</html>

